/* Nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #fd6e0a;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.button-primary {
    font-weight:700;
    border-radius: 5px;
    background: #fd6e0a;
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
}
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 250px;
    display: flex;
    align-items: center;
}
.b-head{

}
.b-greet{

}
.p-pic{
    width: 500px;
    height: 600px;
}